[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==3.141.0"
url-normalize = "==1.4.3"
colorama = "==0.4.4"
Unidecode = "==1.2.0"
psycopg2-binary = "==2.8.6"
autopep8 = "*"
pylint = "*"
stdiomask = "*"
persiantools = "*"
jedi = "*"

[dev-packages]

[requires]
python_version = "3.9"
